<div class="flex flex-col space-y-20">
  <div data-controller="example-component" data-example-component-target="container" class="text-gray-700 text-xl"></div>
  <div data-controller="hello" data-hello-target="container" class="text-gray-700 text-xl"></div>
</div>